* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 20px;
}

.checkout-container {
  margin: 1rem;
  text-align: center;
  line-height: 2rem;
}
.checkout-container .check-out-title {
  font-size: 1rem;
  font-weight: bold;
}
.header-container {
  display: flex;
  justify-content: space-around;
}
.check-out-content {
  color: grey;
}
.container {
  margin-top: 1rem;
}
span {
  font-weight: bold;
}
.input-conatiner {
  position: relative;
  padding-top: 2rem;
}
.input-conatiner .input {
  width: 100%;
  border: none;
  border-bottom: 2px solid grey;
  font-size: 1.2rem;
  outline: 0px;
  background-color: #fff;
}
.input-conatiner .info-label {
  position: absolute;
  top: 2rem;
  left: 0;
  color: gray;
  transition: all 0.3s ease;
}
.input-conatiner input:focus ~ .info-label,
.input-conatiner input:valid ~ .info-label {
  transform: translateY(-20px);
  font-size: 10px;
  color: black;
}
.underline::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2%;
  background: #354463;
  transform: scaleX(0);
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.select {
  border: none;
}
.country {
  font-size: 0.8rem;
  padding-bottom: 1rem;
}
.billng-address {
  margin-top: 3rem;
  font-weight: bold;
}

.check-box-container {
  display: none;
}

.checkbox:checked ~ .check-box-container {
  display: block;
}
.date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  align-items: end;
}
.order-Summary-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}
.summary {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.place-btn {
  margin: 0;
  width: 100%;
  margin-top: 3rem;
  height: 3rem;
  color: #fff;
  font-size: 1rem;
  background-color: #060622;
  position: sticky;
}
@media (min-width: 1024px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
  .body-conatiner {
    padding-left: 20rem;
    padding-right: 20rem;
  }
  .place-btn {
    width: 50%;
    margin-top: 3rem;
    height: 3rem;
    border-radius: 0;
    color: black;
    font-size: 1rem;
    background-color: white;
  }
}
